/* CUSTOM PROPS */
:root{
    --text-color: #333;
    --accent-green-color: #0a775f;
    --outline-color: var(--accent-green-color);
}

html{
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


*,
*::before,
*::after{
    box-sizing: inherit;
}

*:focus{
    outline: 2px dashed var(--outline-color);
    outline-offset: 3px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.75;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    flex-grow: 1;
}


.site-header-hero-wrapper{
    background-image: url("../img/hero-bg.jpg");
}


/* SITE HEADER */
.site-header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.site-header-logo-link {
    flex-shrink: 0;
    display: flex;
    text-decoration: none;
}

.site-header-logo-link:hover {
    opacity: 0.8;
}

.site-header-logo-link:active {
    opacity: 0.6;
}

.site-header-img {
    width: 235px;
    height: 24px;
    object-fit: contain;
}

/* SITENAV */
.sitenav-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 40px;
}

.sitenav-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: normal;
    font-weight: bold;
    color: var(--text-color);
    white-space: nowrap;
}

.sitenav-link:hover {
    color: var(--accent-green-color)
}

.sitenav-link:active{
    opacity: 0.6;
}


/* RETUNA BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .site-header-hero-wrapper{
        background-image: url("../img/hero-bg@2x.jpg");
    }

}